
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-clr: rgb(243, 243, 243);
    --bx-shw: 0px 1px 5px rgb(221, 221, 221);
    --bttm-brdr:1px solid rgb(241, 241, 241);
    --clr-neutral-900: #171717;
    --clr-purple-900: #59168b;
}
*{
    font-family: "Inter Tight", serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
button{
    cursor: pointer;
}
body{
    background-color: var(--bg-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:24px 0;
    height: 100vh;
}
nav{
    width: 400px;
}
#backBtn{
    padding: 4px 8px 4px 4px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--clr-neutral-900) ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    text-decoration: none;
    width: fit-content;
}

#backBtn #backIcon{
    height: 20px;
}

.taskWrapper{
    width: 400px;
    min-height: 250px ;
    background-color: white;
    box-shadow: var(--bx-shw) ;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}
.top{
    display: flex; 
    justify-content: space-between; 
    border-bottom: var(--bttm-brdr);
    padding: 0 16px 8px 16px;
}
.btn{
    display: flex; 
    align-items: center; 
    padding: 0 4px; 
    background-color:var(--bg-clr); 
    border-radius: 100%; 
    border:none;
}
.lucideIcon{
    width: 16px; 
    color: black;
}

ul{
    padding: 8px 16px 0 16px;
}

#msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto 0;
    color: gray;
    gap:8px;
}

ul li{
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap:8px;
    padding: 4px 8px;
    height: fit-content;
}

ul li .taskNameTime{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 85%;
    cursor: pointer;
}
.todoTask{
    width: 70%;
    word-wrap: normal;
    overflow-wrap: break-word;
    white-space: normal;
    user-select: none;
}
ul li .taskNameTime p:last-child{
    margin-top: 4px;
    color: gray ;
    font-size: 12px;
    text-align: end;
    width: 25%;
    user-select: none;
}
ul li #deleteBtn{
    display: flex;
    background-color: transparent;
    border:none;
}
ul li #deleteBtn .lucideIcon{
    color: rgb(204, 0, 0);
}
input[type="checkbox"]{
    margin-top:4px;
    accent-color: rgb(2, 119, 2);
    transform: scale(1.1);
    outline: none;
}
.taskWrapper div .addToDoWrapper{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0000005b;
    z-index: 60;
}
.taskWrapper div .addToDoWrapper .addToDoForm{
    width: 300px;
    min-height: 200px ;
    background-color: white;
    box-shadow:var(--bx-shw);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 16px ;
}

.addToDoWrapper .addToDoForm form{
    padding:24px 16px;
    display: flex;
    flex-direction: column;
    gap:12px;
}
form button{
    display: flex;
    align-items: center;
    gap:4px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
}
form input{
    width: 100%;
    border:none;
    padding: 8px ;
    border-radius: 4px;
}

form input[type="submit"]{
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 8px;
}
input[type="text"], input[type="time"] {
    background: var(--bg-clr);
    outline: 1px solid transparent;
    border: 1px solid transparent;
} 

input[type="text"]:focus{
    outline: 1px solid rgb(211, 211, 211);
    border: 1px solid white;
}

.addToDoForm form button div{
    display: flex;
}
.addToDoForm form .timeWrapper{
    display: none;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    box-shadow: none;
    z-index: 5;
    animation: opacity 300ms linear;
}
@keyframes opacity{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}
.addToDoForm form .timeWrapper p{
    font-size: 14px;
    color: gray ;
}
.addToDoForm form .timeWrapper div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addToDoForm form .timeWrapper div div{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 49%;
    gap:4px;
   
}
.addToDoForm form .timeWrapper div div input{
    width: 100%;
}

.addToDoForm form .timeWrapper div div label{
    font-size: 14px;
}

.addToDoForm form #setTimeErr{
    color: red;
    font-size: 12px;
    margin-top: -4px;
}


#footer{
    text-align: center;
    margin-top: 12rem;
}
#footer span{
    color: var(--clr-purple-900);
    font-weight:500;
}